@page "/matakuliah/rpmk"

@inject IKatalogService KatalogService
@inject IRpmkGenerator RpmkGenerator
@inject IAddressService AddressService
@inject ISessionStorageService Storage


<div class="col-lg-12 px-0 py-8 control-section">
    @if (KatalogSource is null)
    {
        <LoadingPageComponent />
    }
    else
    {
        <div class="content-wrapper mx-8">
            <div class="row my-4">
                <MudCard Outlined="true" Class="border-2" Elevation="2">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5" Class="avenir fs-3 fw-bold">RPMK Mata Kuliah</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                </MudCard>
            </div>
            <div class="row my-4">
                <div class="col-lg-6">
                    <MudSelect T="string" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" Margin="Margin.Dense"
                               Class="custom-form-input" Dense="true" Label="Program Studi" Value="ProgramStudi"
                               ValueChanged="async value => await ChangeProgramStudi(value)">
                        @{
                            foreach (var prodi in AllProdi!)
                            {
                                <MudSelectItem Value=@prodi />
                            }
                        }
                    </MudSelect>
                </div>
                <div class="col-lg-6">
                    <MudAutocomplete T="MataKuliah" Variant="Variant.Outlined" SearchFunc="FilterText" ToStringFunc="MataKuliahToString"
                                     Margin="Margin.Dense" Label="Cari Mata Kuliah" ResetValueOnEmptyText="true" CoerceText="true" Value="SelectedMataKuliah"
                                     Class="custom-form-input" Dense="true"
                                     ValueChanged="async value => await ShowRpmk(value)"></MudAutocomplete>
                </div>
            </div>
            <div class="row my-4">
                <MudTable T="RPMK" Items="RPMKs" Dense="true" Hover="true" Bordered="true" Outlined="true" Elevation="2" HeaderClass="header" Class="border-2">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6" Class="custom-table-title">Identitas Mata Kuliah</MudText>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh Class="custom-table-header">Kode</MudTh>
                        <MudTh Class="custom-table-header">Nama MK Id</MudTh>
                        <MudTh Class="custom-table-header">Nama MK En</MudTh>
                        <MudTh Class="custom-table-header">Semester</MudTh>
                        <MudTh Class="custom-table-header">Jenis</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd Class="custom-table-td" DataLabel="Kode">@context.MataKuliah.Kode</MudTd>
                        <MudTd Class="custom-table-td" DataLabel="NamaMkId">@context.MataKuliah.NamaId</MudTd>
                        <MudTd Class="custom-table-td" DataLabel="NamaMkEn">@context.MataKuliah.NamaEn</MudTd>
                        <MudTd Class="custom-table-td" DataLabel="Semester">@context.MataKuliah.Semester</MudTd>
                        <MudTd Class="custom-table-td" DataLabel="Jenis">@context.MataKuliah.Jenis</MudTd>
                    </RowTemplate>
                </MudTable> 
            </div>
            @if (RPMKs is not null && RPMKs.Any())
            {
                <div class="row my-4">
                    <MudTable T="RPMK" Items="RPMKs" Dense="true" Hover="true" Bordered="true" Outlined="true" Elevation="2" HeaderClass="header" Class="border-2">
                        <HeaderContent>
                            <MudTh Class="custom-table-header">Kode</MudTh>
                            <MudTh Class="custom-table-header">Modalitas</MudTh>
                            <MudTh Class="custom-table-header">Metode</MudTh>
                            <MudTh Class="custom-table-header">Penilaian</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd Class="custom-table-td" DataLabel="Kode">@context.MataKuliah.Kode</MudTd>
                            <MudTd Class="custom-table-td" DataLabel="Modalitas">@context.MataKuliah.Modalitas</MudTd>
                            <MudTd Class="custom-table-td" DataLabel="Metode">@context.MataKuliah.Metode</MudTd>
                            <MudTd Class="custom-table-td" DataLabel="Penilaian">@context.MataKuliah.Penilaian</MudTd>
                        </RowTemplate>
                    </MudTable>
                </div>
                <div class="row my-4">
                    <MudTable T="RelasiMataKuliah" Items="RPMKs.FirstOrDefault()!.Relasi" Dense="true" Hover="true" Bordered="true" Outlined="true" Elevation="2" HeaderClass="header" Class="border-2">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6" Class="custom-table-title">Mata Kuliah Terkait</MudText>
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh Class="custom-table-header">Kode</MudTh>
                            <MudTh Class="custom-table-header">Nama</MudTh>
                            <MudTh Class="custom-table-header">Sifat</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd Class="custom-table-td" DataLabel="Kode">@context.KodeMKReq</MudTd>
                            <MudTd Class="custom-table-td" DataLabel="Nama">@context.NamaMKReq</MudTd>
                            <MudTd Class="custom-table-td" DataLabel="Sifat">@context.Jenis</MudTd>
                        </RowTemplate>
                    </MudTable>
                </div>
                <div class="row my-4">
                    <MudTable T="Kajian" Items="RPMKs.FirstOrDefault()!.BahanKajian" Dense="true" Hover="true" 
                        Bordered="true" Outlined="true" Elevation="2" HeaderClass="header" Class="border-2">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6" Class="custom-table-title">Bahan Kajian</MudText>
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh Class="custom-table-header">Kode</MudTh>
                            <MudTh Class="custom-table-header">Bahan Kajian</MudTh>
                            <MudTh Class="custom-table-header">Kedalaman</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd Class="custom-table-td" DataLabel="Kode">@context.KodeMK</MudTd>
                            <MudTd Class="custom-table-td" DataLabel="BahanKajian">@context.BahanKajian</MudTd>
                            <MudTd Class="custom-table-td" DataLabel="Kedalaman">@context.Kedalaman</MudTd>
                        </RowTemplate>
                    </MudTable>
                </div>
                <div class="row my-4">
                    <MudTable T="CapaianMataKuliah" Items="RPMKs.FirstOrDefault()!.CPMK" Dense="true" Hover="true"
                              Bordered="true" Outlined="true" Elevation="2" HeaderClass="header" Class="border-2">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6" Class="custom-table-title">Capaian Pembelajaran</MudText>
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh Class="custom-table-header">KodeCPL</MudTh>
                            <MudTh Class="custom-table-header">Unsur CPL</MudTh>
                            <MudTh Class="custom-table-header">CPMK</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd Class="custom-table-td" DataLabel="KodeCPL">@context.CPL.KodeCPL</MudTd>
                            <MudTd Class="custom-table-td" DataLabel="UnsurCPL">@context.CPL.UnsurCPL</MudTd>
                            <MudTd Class="custom-table-td" DataLabel="CPMK">@context.CPMK</MudTd>
                        </RowTemplate>
                    </MudTable>
                </div>
            }
        </div>
    }
</div>

<style>
    .custom-table-title {
        font-size: 20px;
        font-weight: bold !important;
    }

    .header {
        background-color: #212B3E;
    }

    .custom-table-header {
        font-size: 12px;
        font-weight: bold !important;
        color: white !important;
    }

    .custom-table-td {
        font-size: 12px;
        font-family: Avenir-Demi;
    }

    .mud-input-control > .mud-input-control-input-container > .mud-input-label-inputcontrol {
        font-size: 12px;
    }

    #custom-filter .mud-input {
        font-size: 10px;
    }

    .custom-form-input {
        font-size: 12px;
    }

        .custom-form-input p {
            font-size: 12px;
        }

    .mud-input-control > .mud-input-control-input-container > .mud-input-label-outlined.mud-input-label-inputcontrol {
        line-height: 1;
    }

    .selected {
        background-color: #354052 !important;
    }

        .selected > td {
            color: white !important;
        }

            .selected > td .mud-input {
                color: white !important;
            }

</style>

@code {
    public IEnumerable<MataKuliah>? KatalogSource { get; set; }
    public string ProgramStudi { get; set; } = string.Empty;
    public MataKuliah SelectedMataKuliah { get; set; } = new();
    public List<RPMK> RPMKs { get; set; } = new();
    private IEnumerable<string>? AllProdi { get; set; }

    protected async override Task OnInitializedAsync()
    {
        AllProdi = AddressService.GetAllProgramStudi();
        var getProdi = await Storage.GetItemAsync<string>("Program Studi RPMK");

        ProgramStudi = getProdi is not null ? getProdi : "Magister Fisika";
        KatalogSource = await KatalogService.GetKatalog(ProgramStudi);
        RPMKs.Clear();
    }

    public async Task ChangeProgramStudi(string value)
    {
        ProgramStudi = value;
        await Storage.SetItemAsStringAsync("Program Studi RPMK", ProgramStudi);
        KatalogSource = await KatalogService.GetKatalog(ProgramStudi);
        RPMKs.Clear();
        SelectedMataKuliah = new();

    }

    public async Task<IEnumerable<MataKuliah>> FilterText(string value, CancellationToken token)
    {
        await Task.Delay(5,token);

        return KatalogSource!.Where(x => x.Kode.Contains(value, StringComparison.OrdinalIgnoreCase) ||
        x.NamaId.Contains(value, StringComparison.OrdinalIgnoreCase) ||
        x.NamaEn.Contains(value, StringComparison.OrdinalIgnoreCase) );
    }

    public string MataKuliahToString(MataKuliah mk)
    {
        return $"{mk.Kode} {mk.NamaId}";
    }

    public async Task ShowRpmk(MataKuliah mk)
    {
        RPMKs.Clear();
        SelectedMataKuliah = mk;

        if(mk is not null)
        {
            var rpmk = await RpmkGenerator.GetRpmk(mk.Kode, ProgramStudi);

            if (rpmk is not null)
                RPMKs.Add(rpmk);
        }
            
        
    }
}
